body
{
    font-family: Helvetica, Sans-Serif;
    color: #444444;
    /*font-size: 12pt;*/
    /*background-color: #FAFAFA;*/
}

canvas {
    background:#FAFAFA;
    margin: 0 auto 0px;
    display:block;
}

#buttons {
    margin-left: 30%;
    position:absolute;
    bottom: 1px;
}
