/*********************************************
 * GLOBAL STYLES
 *********************************************/
 /*li {list-style-type: square;}*/
 /*li {list-style-type: circle;}*/
 li {list-style-type: disc;}

 .reveal section li{
   margin: 10px 0;
 }

p { text-align: left; }

/*********************************************
 * IMAGES (turn off borders and background)
 *********************************************/
.reveal section img { background:none; border:none; box-shadow:none; }
.reveal section img:hover { background:none; border:none; box-shadow:none; }
